@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Serif&display=swap');


#header{
    text-align: center;
    font-size: 84px;
    color: black;
    height: 100px;
    margin-bottom: 100px;
    margin-top: 60px;
    font-weight: bold;
}

.maincontent{
    padding-top: 0%;
    padding-left:0%;
  }
  
.col {
    padding: 1%;
  }

.col-lg {
    height: 300px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    flex-basis: 30%;
      
  }
  
.col-lg img {
    display:block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
.imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

 #inspo,
 #cat-image,
 #weather
 {
    background-color: rgb(138, 176, 185);
    text-align: center;
    font-size: 28px;
 }

header, 
#tile-box{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Serif', serif;
}

 html{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844226_960_720.png);
 }
 
 .title{
    font-size: 40px;
 }
 
 #search{
    height: 35px;
    width: 160px;
    background-color: rgb(229, 177, 221);
 }

 #searchButton{
    height: 35px;
    width: 35px;
    background-color: rgb(229, 177, 221);
 }